<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <form action="" method="POST">
    <table align="center">
      <tr>
        <td>Date</td>
        <td><input type="date" name="date"></td>
      </tr>
      <tr>
        <td>Petrol</td>
        <td><input type="text" name="Petrol"></td>
      </tr>
      <tr>
        <td>Diesel</td>
        <td><input type="text" name="diesel"></td>
      </tr>
      <tr>
        <td>Premimum Petrol</td>
        <td><input type="text" name="premimumpetrol"></td>
      </tr>
      <tr>
        <td>Premimum Diesel</td>
        <td><input type="text" name="premimumdiesel"></td>
      </tr>
      <tr>
        <td><input type="submit" name="submit" value="Submit" /></td>
        <td><input type="button" name="reset" value="clear" /></td>
      </tr>
    </table>
  </form>
</body>

</html>